body{
	background-color: green;
	margin: 0px 0px 0px 0px;

}
#banner{
	background-color: white;
	font-size: 24pt;
	height: 75px;
}

#myCanvas{
	background-color: #FFFFFF;
	margin: 20px 20px 20px 20px;
	float:left;
	z-index: 10;

}

#gameContainer{
		height: 640px;
}

#accordion{
	float:left;
	z-index: 10;
	width: 420px;

	margin-top: 20px;
}

#boardContainer{
	position: relative;

}

#boardOverlay{
	position: absolute;
	border: yellow 3px;
	top: 20px;
	left: 30px;
}

#b1{
	position: absolute;
	left: 438px;
	top: 562px;
}

#h5Badge{
	position: absolute;
	left: 350px;
	top: 10px;
}